<header>
    <nav>
        <div class="nav-wrapper container">
            <a href="#" class="brand-logo left">Logo</a>
            <ul id="nav-mobile" class="right">
                <li><a href="/"><i class="mdi mdi-home left"></i>Home</a></li>
                <li class="active"><a href=""></a><i class="mdi mdi-view-dashboard right"></i>My Dashboard</a></li>
                <li><a href="students/logout"><i class="mdi mdi-logout-variant right"></i>Logout</a></li>
            </ul>
        </div>
    </nav>
</header>

<main>
    <section>
    <!-- Modal Structure -->
        <div id="profileModal" class="modal modal-fixed-footer">
            <div class="modal-content">
                <h4 class="center teal-text"><i class="mdi mdi-account mdi-48px left" style="color: #c5c5c5"></i>Student Profile</h4>
                <p>View and edit your information here. Some values must stay the same after resgistration</p>
            <div class="input-field">
                <input type="text" name="name" id="name" value="{{user.name}}">
                <label for="name">Student Name</label>
            </div>
            <div class="input-field">
                <input type="email" name="email" id="email" value="{{user.email}}" class="validate">
                <label for="email">Email</label>
                <span class="helper-text" data-error="Please provide a valid email address. e.g. dominic@example.com" data-success="">e.g. dominic@example.com</span>
            </div>
            <div class="input-field">
                <input type="text" name="regNo" id="regNo" value="{{user.regNo}}" class="validate">
                <label for="reNo">Registration Number</label>
                <span class="helper-text" data-error="Please provide a valid registration number. e.g. MOUAU/13/26606" data-success="">e.g. MOUAU/13/26603</span>
            </div>
            <div class="input-field">
                <input type="text" class="validate" name="college" id="college" value="{{user.college}}">
                <label for="college">College</label>
                <span class="helper-text" data-error="Please provide your college" data-success=""></span>
            </div>
            <div class="input-field">
                <input type="text" class="validate" name="hostel" id="hostel" value="{{user.hostel}}">
                <label for="hostel">Hostel</label>
                <span class="helper-text" data-error="Please provide your college" data-success=""></span>
            </div>
            <div class="input-field">
                <input type="text" class="validate" name="gender" id="gender" value="{{user.gender}}">
                <label for="gender">Gender</label>
            </div>
            <div class="input-field">
                <input type="password" class="validate" name="password" id="password" value="{{user.password}}">
                <label for="password">Hostel</label>
                <span class="helper-text" data-error="Please provide a valid password" data-success="">Password should be at least 8 characters long</span>
            </div>
        </div>
        <div class="modal-footer center-align">
            <button id="editButton" class="btn blue darken-2 waves-effect waves-light"><i class="mdi mdi-pencil left"></i>Edit</button>
            <button id="saveButton" class="btn green darken-2 waves-effect waves-light" data-id="{{user._id}}"><i class="mdi mdi-check left"></i>Save</button>
            <button class="btn red darken-2 waves-effect waves-light modal-close"><i class="mdi mdi-close left"></i>Close</button>
        </div>
    </div>        

        <div class="container">
            <h6>Welcome Uzoanya Dominic you logged in at 12:00pm</h6>
            <div class="content">
                <div class="links">
                    <i class="mdi mdi-bed-empty main-icons"></i>
                    <h5><a href="/students/bedspace/{{id}}">Apply for Bedspace</a></h5>
                </div>
                <div class="links">
                    <i class="mdi mdi-account main-icons"></i>
                    <h5><a class="modal-trigger" href="#profileModal">My Profile</a></h5>
                </div>
            </div>
            <hr>
        </div>
    </section>
</main>

<footer class="center bg-dark">
    <p>&copy; Copyright Hostel Application 2018</p>
</footer>