<header class="showcase">
    <div id="adminDiv">
        <a href="#" class="modal-trigger" data-target="adminLoginModal">Admin</a>
    </div>
    <div class="content">
        <i class="mdi mdi-sofa" style="font-size: 100px;"></i>
        <!-- <img src="/img/Picture1.png" class="responsive-img logo" alt="Uzoanya Dominic"> -->
        <div class="title">The Hostel App</div>
        <div class="text">
            <p>Short description here</p>
            <a href="/students/login" class="btn waves-effect waves-light links">Login</a>
            &nbsp;&nbsp;&nbsp;or&nbsp;&nbsp;&nbsp;
            <a href="/students/register" class="btn waves-effect waves-light links">Register</a>
        </div>
    </div>
</header>
<div id="adminLoginModal" class="modal">
    <div class="modal-content">
        <h4 class="center">Admin Login</h4>
        <form name="adminLoginForm" method="POST" action="/admins/login">
        {{#if adminErrors}}
            {{#each adminErrors}}
                <div>
                    <p class="red-text text-darken-2 error-messages center">{{this.msg}}</p>
                </div>
            {{/each}}
        {{/if}}
        {{#if adminLoginError}}
            <p class="red-text text-darken-2 error-messages center">{{adminLoginError}}</p>
        {{/if}}
            <div class="row">
                <div class="col s12 input-field">
                    <i class="mdi mdi-account-outline prefix"></i>
                    <input type="text" name="adminUsername" id="adminUsername" class="validate" autofocus value="{{adminUsername}}">
                    <label for="adminUsername">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 input-field">
                    <i class="mdi mdi-lock prefix"></i>
                    <input type="password" name="adminPassword" id="adminPassword" class="validate" value="{{adminPassword}}">
                    <label for="adminPassword">Password</label>
                    <span class="helper-text" data-error="Please provide your password"></span>
                    {{#if adminPasswordError}}
                        <div>
                            <p class="red-text text-darken-2 error-messages center">{{adminPasswordError}}</p>
                        </div>
                    {{/if}}
                </div>
            </div>
            <div class="row">
                <div class="col s12 input-field">
                    <button class="btn waves-effect waves-white" type="submit" id="adminLoginButton">Log In</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Services-->
<section class="services">
    <div class="container grid-3 center">
        <div>
            <i class="mdi mdi-flash mdi-48px icons"></i>
            <h3>24/7 Electricity</h3>
            <p>There is uninterrupted supply of eletricity.</p>
        </div>
        <div>
            <i class="mdi mdi-school mdi-48px icons"></i>
            <h3>Standard Rooms</h3>
            <p>Our rooms are decent and are at an extremely affordable price.</p>
        </div>
        <div>
            <i class="mdi mdi-taxi mdi-48px icons"></i>
            <h3>Shuttle Transportation</h3>
            <p>We also provide transportation for students to and fro lecture halls is provided.</p>
        </div>
    </div>
</section>

<!-- About -->
<section class="about bg-light">
    <div class="container">
        <div class="grid-2">
            <div class="center">
                <img src="/img/hostel.png" class="logo" alt="Accomify">
                <!-- <i class="mdi mdi-home-outline icons" style="font-size: 200px !important;"></i> -->
            </div>
            <div>
                <h3 id="about">About Us</h3>
                <p>Accommofy is a hostel allocation system that gives you a unique dwelling experience in your studentship.&nbsp;<span>Accommofy, Your dwelling, our doing.........</span></p>
            </div>
        </div>
    </div>
</section>

<footer class="center bg-dark">
    <p>&copy; Copyright Hostel Application 2018</p>
</footer>