    {{#if errors}}
        {{#each errors}}
            <div>
                <p class="red-text text-darken-2 error-messages center">{{this.msg}}</p>
            </div>
        {{/each}}
    {{/if}}
    <p class="red-text center">{{error}}</p>
    <div id="form-container" class="row container valign-wrapper">
        <form name="signupForm" id="signupForm" class="col s12" action="/students/register" method="POST">
            <h4 class="center">Student Sign Up</h4>
            <div class="row">
                <p id="first"></p>
                <div class="input-field col s12 l6">
                    <i class="mdi mdi-account-outline prefix form-icons"></i>
                    <input type="text" name="firstName" id="firstName" class="validate" value="{{firstName}}" autofocus>
                    <label for="firstName">First Name</label>
                    <span class="helper-text" data-error="Please provide your First Name" data-success=""></span>
                </div>
                <div class="input-field col s12 l6">
                    <i class="mdi mdi-account-outline prefix form-icons"></i>
                    <input type="text" name="lastName" id="lastName" class="validate" value="{{lastName}}">
                    <label for="lastName">Last Name</label>
                    <span class="helper-text" data-error="Please provide your Last Name" data-success=""></span>
                </div>
                <div class="input-field col s12 l6">
                    <i class="mdi mdi-account-outline prefix form-icons"></i>
                    <input type="text" name="regNo" id="regNo" class="validate" value="{{regNo}}">
                    <label for="regNo">Registration Number</label>
                    <span class="helper-text" data-error="Please provide a valid registration number. e.g. MOUAU/13/266603" data-success=""></span>
                </div>
                <div class="input-field col s12 l6" id="college-div">
                    <i class="mdi mdi-bank prefix form-icons"></i>
                    <select name="college" id="college">
                        <option value="" disabled selected>Choose your College</option>
                        <option value="COLPAS">COLPAS</option>
                        <option value="COLMAS">COLMAS</option>
                        <option value="CAFST">CAFST</option>
                        <option value="CEET">CEET</option>
                        <option value="CCSS">CCSS</option>
                        <option value="VET">VET</option>
                        <option value="CASE">CASE</option>
                        <option value="CNREM">CNREM</option>
                        <option value="CAERSE">CAERSE</option>
                        <option value="CASAP">CASAP</option>
                    </select>
                    <label for="college">Select College</label>
                    <span class="helper-text" data-error="Please provide your department." data-success=""></span>
                </div>
            </div>
            <div id="departmentRow" class="row">    
                <div class="col s12 input-field" id="department-div">
                    <i class="mdi mdi-school prefix form-icons"></i>
                    <select name="department" id="department">
                        <option value="" disabled selected>Choose your department</option>
                    </select>
                    <label for="department">Select Department</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="mdi mdi-email prefix form-icons"></i>
                    <input type="email" name="email" id="email" class="validate" value="{{email}}">
                    <label for="email">Email</label>
                    <span class="helper-text" data-error="Please provide a valid email. e.g. john@doe.com" data-success="">e.g. john@doe.com</span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="mdi mdi-lock-outline prefix form-icons"></i>
                    <input type="password" name="password" id="password" class="validate" value="{{password}}">
                    <label for="password">Password</label>
                    <span class="helper-text" data-error="Password should be alphanumeric and at least 8 characters" data-success="">Password should be alphanumeric and at least 8 characters</span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="mdi mdi-lock-outline prefix form-icons"></i>
                    <input type="password" name="confirmPassword" id="confirmPassword" class="validate" value="{{confirmPassword}}">
                    <label for="confirmPassword">Confirm Password</label>
                    <span class="helper-text" data-error="Passwords do not match! Please check." data-success="">Password should be alphanumeric and at least 8 characters</span>
                </div>
            </div>

            <div class="row">
                <div class="col s12 center">
                    <p>Gender:</p>
                    <p>
                        <label for="male">
                            <input class="with-gap" type="radio" name="gender" id="male" value="male">
                            <span>Male</span>
                        </label>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label for="female">
                            <input class="with-gap" type="radio" name="gender" id="female" value="female">
                            <span>Female</span>
                        </label>
                    </p>
                </div>
            </div>
            <div class="input-field center-align">
                <button id="submitButton" class="btn" type="submit">Register</button>
                <p>Already Registered? <a href="/students/login">Log in</a></p>
            </div>
        </form>
    </div>

    {{!-- <select id='department' name='department'>
        <option value='' disabled selected>Choose your department</option>
        <option value='Computer Science'>Computer Science</option>
        <option value='Chemistry'>Chemistry</option>
        <option value='Physics'>Physics</option>
        <option value='Mathematics'>Mathematics</option>
    </select>" --}}